@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');
body {
	max-width: 100%;
	font-family: 'Inter+Tight';
	font-size: 18px;
	background-color: #d7dbdb;
	font-weight: 400;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
.page {
	background-color: #c0c7c7;
}
.page__contaiter {
	max-width: 1230px;
	margin: 0 auto;
	padding: 50px 0;
}
.block {
	color: #222121;
	font-size: 16px;
	line-height: 1.2;
}
.block__title {
	font-size: 26px;
	margin-bottom: 40px;
	text-transform: uppercase;
}
.block__list {
	p {
		font-size: 16px;

	}
}
.block__link {
	padding: 10px 20px;
	border: 1px solid rgb(34, 33, 33, 0.5);
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	a {		
		text-transform: uppercase;
		margin-bottom: 20px;
		&:hover{
			color: #213257;
			text-decoration: underline;
		}
	}	
}